# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

#package
package/

requirements_lambda.txt
deployment.zip
